@font-face {
	font-family: sao;
	src:url('sao.otf');
}

body {
	text-align: center;
	margin: auto;
	font-family: sao;
	background-image: url('bg.jpg');
	font-size: 20px;
}

.container {
	width: 700px;
	margin: auto;
}

#name {
	width: 300px;
	margin-left: 84px;
	border:solid 1px black;
	border-radius: 5px;
	text-align: center;
}

#bdayd	{
	margin-left: 62px;
	border:solid 1px black;
	border-radius: 5px;
	text-align: center;
}

#bdayi1 {
	width: 35px;
	border:solid 1px black;
	border-radius: 5px;
	text-align: center;

}

#bdayi2 {
	width: 70px;
	border:solid 1px black;
	border-radius: 5px;
	text-align: center;
}

#emaili {
	width: 150px;
	margin-left: 82px;
	border:solid 1px black;
	border-radius: 5px;
	text-align: center;
}

#passwordi1 {
	width: 200px;
	margin-left: 55px;
	border:solid 1px black;
	border-radius: 5px;
	text-align: center;
}

#passwordi2 {
	width: 250px;
	border:solid 1px black;
	border-radius: 5px;
	text-align: center;
}

#co {
	width: 300px;
	border:solid 1px black;
	border-radius: 5px;
	text-align: center;
}

#input {
	margin-top: 100px;
	text-align: left;

}

#r {
	color: red;
}
#b1 {
	color: blue;
}
#g {
	color: green;
}
#w {
	color: white;
}
#b2 {
	color: black;
}
#o {
	color: orange;
}

#coloro {
	width: 300px;
	border:solid 1px black;
	border-radius: 5px;
	text-align: center;
}

.footer {
	font-size: 10px
	margin-top:100px;

}

#ed {
	border:solid 1px black;
	border-radius: 5px;
	text-align: center;
}

.out {
	border:solid 1px black;
	border-radius: 5px;
	text-align: center;
	width: 300px;
}
.but {
	border:solid 3px black;
	border-radius: 5px;
	text-align: center;
	font-family: sao;
	font-size: 20px;
	background-color: black;
	color: #ffffff;
}